body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    width: 100%;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 15px;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.menu li a:hover {
    color: #ff6347;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.player-container {
    position: relative;
    width: 80%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.channel-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.channel-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.channel-name {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.channel-info {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.map-container {
    margin-top: 20px;
}

.live-programming {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

.channel-info h3, .live-programming h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.channel-info p, .live-programming p {
    font-size: 16px;
    color: #666;
    line-height: 1.5;
}

.news-iframe {
    width: 80%;
    height: 300px;
    border: 0;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}